<h1 class="text-center">Home</h1>
<p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sit dolorum
    nulla repudiandae
    sed
    quisquam
    pariatur iusto iure quibusdam et, laboriosam, voluptatum fuga quae. Nam expedita placeat temporibus illo
    laboriosam?</p>
<img src="../public/images/imelda-747870-unsplash.jpg" alt="">